#wrapper{
    background-image: url('/public/powerful/right.png'),url('/public/powerful/left.png');
    background-position:right 5rem, left 65rem;
    background-repeat: no-repeat;
}


#light {
    top: 6.2rem;
    left: -2rem;
}

#circle_container {
    background-image: url('/public/powerful/circle.png');
    background-size: 1300px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -11rem;
}

#circle_content {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// #circle_container {
//     left: 50%;
//     transform: translateX(-50%);
//     top:38.8rem;
// }
