#effects {
    top: 12rem;
    right:21rem;
}

#tiktok {
    bottom: -2rem;
    right: 23rem;
}

#youtube {
    right:5.2rem;
    top: 8rem;
}

#timeline {
   bottom: 5rem;
   right:1.5rem;
}

#wrapper {
    background-image: url('/public/header/bg.png');
    background-size: 130rem;
    background-repeat: no-repeat;
    background-position: -16rem -10rem;
}

#light {
    left: 45%;
    top: -3.5rem;
}