@import '../../styles/index.scss';

#wrapper {
    background-image: url('/public/footer/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bootom center;
}

#phones {
    top: 50px;
    right: 80px;
}

#footer_wrapper {
    
}
